/* You can add global styles to this file, and also import other style files */
*{
  padding: 1%;
  margin-top: 1%;
  display: flexbox;
  


  .button-group button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0; // Remove margem do último botão
    }
  }

}
